@page
@using Presentation.WebUI.Infrastructure.Tags
@model Presentation.WebUI.Areas.Membership.Pages.Persons.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, HtmlTags.AspNetCore
@{
    Layout = "_Layout";
}

<div>
    <h2>
        Create New Person
    </h2>
    <div asp-validation-summary="All"></div>
    <form method="POST">

        @*<div>
            <label for="Model.Data.FirstName">Contact Name:</label>
            <input type="text" name="FirstName" value=""/>
        </div>
        <div>
            <label for="Data.LastName">Employee Count:</label>
            <input type="text" name="LastName" value=""/>
        </div>*@


        @Html.ValidationDiv()
        @Html.FormBlock(m => m.Data.FirstName)
        @Html.FormBlock(m => m.Data.LastName)
        
        <input asp-for="Data.RequestId" value="@Guid.NewGuid()" hidden />

        <input type="submit" value="Create"/>

    </form>
</div>