@page
@model Presentation.WebUI.Areas.Membership.Pages.Persons.IndexModel
@{
    Layout = "_Layout";
}

<h1>Persons</h1>

<div class="pb-4">
    <a asp-area="Membership" asp-page="/Persons/Create">Add person</a>
    <a asp-area="Membership" asp-page="/Persons/Create"></a>
</div>


